<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Listar Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <ul>
        {% for produto in produtos %}
        <li>
            {{ produto.nome }} - R$ {{ produto.preco }} - Tipo: {{ produto.tipo }}
            <a href="{% url 'editar_produto' produto.id %}">Editar</a>
            <a href="{% url 'excluir_produto' produto.id %}">Excluir</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cadastrar_produto' %}">Cadastrar Produto</a>
</body>
</html>
