<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'orcamento_list' %}">Deu Orça!</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="nav" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'orcamento_list' %}">Orçamentos</a></li>
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Sair</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Entrar</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Cadastrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>